
@import url(../blocks/page.css);
@import url(../blocks/logo.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/image.css);
@import url(../blocks/place.css);
@import url(../blocks/explore.css);
@import url(../blocks/footer.css);



@font-face {
    font-family: "font title";
    src: url(../fonts/Inter-4.0/web/Inter-Black.woff2);
}
@font-face {
    font-family: "font-subtitle";
    src: url(../fonts/Inter-4.0/web/InterVariable.woff2);
}
@font-face {
    font-family: "content-title";
    src: url(../fonts/Inter-4.0/web/Inter-SemiBoldItalic.woff2);
}
@font-face {
    font-family: "introduction content";
    src: url(../fonts/Inter-4.0/web/Inter-Regular.woff2);
}